:root {
    --color-bg: #2c2c2c;
    --color-bg-light: #2c2c2c;
    --color-bg-sidebar: #202020;
    --color-border: #2f3b43;
    --color-text: #e9edef;
    --color-text-secondary: #d2d2d2;
    --color-accent: #25d366;

    --left-panel-width: 24%;
    --sidebar-width: 76%;
}

:root.light {
    --color-bg: #f0f2f5;
    --color-bg-light: #ffffff;
    --color-bg-sidebar: #f7f8fa;
    --color-border: #d1d1d1;
    --color-text: #111;
    --color-text-secondary: #555;
    --color-accent: #25d366;
}

.main-layout {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: var(--color-bg);
    color: var(--color-text);
}

.main-layout__left {
    display: flex;
    width: var(--left-panel-width);
    background: var(--color-bg-light);
    border-right: 1px solid #222222;
    height: 100%;
}

.sidebar-container {
    width: var(--sidebar-width);
    background: var(--color-bg-sidebar);
    border-right: 1px solid #222222;
}

.contacts-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: var(--color-bg-light);
    overflow-y: auto;
}

.main-layout__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--color-bg);
    overflow: hidden;
}

.main-layout__placeholder {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

.placeholder-content {
    text-align: center;
}

.placeholder-icon {
    font-size: 4rem;
    opacity: 0.4;
    margin-bottom: 1rem;
}

.placeholder-content h2 {
    font-size: 1.6rem;
    margin-bottom: 0.2rem;
}

.placeholder-content p {
    color: var(--color-text-secondary);
}

.contacts-container::-webkit-scrollbar,
.main-layout__right::-webkit-scrollbar,
.message-list::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.contacts-container {
    scrollbar-width: none;
}

.main-layout__right {
    scrollbar-width: none;
}

.message-list {
    scrollbar-width: none;
}

.header-back-btn {
    display: none;
    background: transparent;
    border: none;
    color: var(--color-text);
    margin-right: 8px;
    font-size: 1.4rem;
    cursor: pointer;
}

.chat-list .header-back-btn {
    display: none;
}

.chat-open .header-back-btn {
    display: flex;
}

@media (max-width: 768px) {
    .header-back-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media (min-width: 1500px) {
    .main-layout__left {
        width: 24%;
    }
}

@media (max-width: 1499px) and (min-width: 1200px) {
    .main-layout__left {
        width: 30%;
    }
}

@media (max-width: 1199px) and (min-width: 900px) {
    .main-layout__left {
        width: 35%;
    }
}

@media (max-width: 899px) and (min-width: 768px) {
    .main-layout__left {
        width: 40%;
    }
}