.contact-list__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    text-align: center;
}

.contact-list__empty p {
    color: var(--primary-txt-color);
    position: relative;
}

.contact-list__empty p::before {
    content: "⚠️";
    display: block;
    margin-bottom: 10px;
    filter: drop-shadow(0 0 3px #e00a0e);
}

.contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.contact-list::-webkit-scrollbar {
    display: none;
}

.add-contact-msg {
    margin-top: 6px;
    font-size: 0.85rem;
    color: #555;
}