.contact {
    display: flex;
    width: 100%;
    border-radius: 0.3rem;
    cursor: pointer;
}

.contact-card {
    display: flex;
    gap: 8px;
}

.contact__photo img {
    max-width: 70px;
    border-radius: 50%;
    vertical-align: middle;
}

.contact__body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.contact__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact__name {

    color: #fff;
    display: inline-block;
    max-width: 10ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contact__last-seen {
    font-weight: 300;
}

.contact__time {
    font-size: 0.7rem;
    color: #888;
    white-space: nowrap;
    margin-left: 8px;
}

.contact__last-message {
    font-size: 0.85rem;
    color: #d2d2d2;
    margin-top: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media only screen and (min-width: 750px) {
    .contact__last-message {
        font-size: 0.8rem;
        font-weight: 400;
    }

    .contact__last-seen {
        font-size: 0.8rem;
    }
}