:root {
    --color-bg: #2c2c2c;
    --color-bg-light: #2c2c2c;
    --color-bg-sidebar: #202020;
    --color-border: #2f3b43;
    --color-text: #e9edef;
    --color-text-secondary: #d2d2d2;
    --color-accent: #25d366;

    --sidebar-width: 56px;
    --left-panel-width: 28%;
}

.main-layout {
    display: flex;
    height: 100dvh;
    width: 100%;
    overflow: hidden;
    background: var(--color-bg);
    color: var(--color-text);
}

.mobile-chat-layout {
    height: 100dvh;
    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.mobile-layout {
    height: 100dvh;
    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.main-layout__left {
    display: flex;
    flex-direction: row;
    width: var(--left-panel-width);
    min-width: 380px;
    max-width: 420px;
    background: var(--color-bg-light);
    border-right: 1px solid #222;
    height: 100%;
    min-height: 0;
}

.contacts-container {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    background: var(--color-bg-light);
    overflow-y: auto;
}

.contacts-container::-webkit-scrollbar,
.main-layout__right::-webkit-scrollbar,
.message-list::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.contacts-container {
    scrollbar-width: none;
}

.main-layout__right,
.message-list {
    scrollbar-width: none;
}

.main-layout__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--color-bg);
    overflow: hidden;
}

.main-layout__placeholder {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

.header-back-btn {
    display: none;
    background: transparent;
    border: none;
    color: var(--color-text);
    margin-right: 8px;
    font-size: 1.1rem;
    cursor: pointer;
}

.chat-open .header-back-btn {
    display: flex;
    padding: 0;
}

@media (max-width: 768px) {
    .header-back-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 1500px) {
    .main-layout__left {
        width: 24%;
    }
}

@media (max-width: 1499px) and (min-width: 1200px) {
    .main-layout__left {
        width: 28%;
    }
}

@media (max-width: 1199px) and (min-width: 900px) {
    .main-layout__left {
        width: 32%;
    }
}

@media (max-width: 899px) and (min-width: 768px) {
    .main-layout__left {
        width: 38%;
    }
}
