* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Persona5", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    color: #e9edef;
}

#root {
    width: 100%;
    height: 100%;
    max-width: 2000px;
    margin: 0 auto;
}

html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

input,
textarea,
select {
    color: #e9edef;
    background-color: #2c2c2c;
}

input::placeholder,
textarea::placeholder {
    color: #bfbfbf;
    opacity: 1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: #e9edef;
    transition: background-color 9999s ease-in-out 0s;
    box-shadow: 0 0 0px 1000px #2c2c2c inset;
}
