.message-form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;

    padding: 0.5rem;
    border-top: 1px solid #222222;
    box-sizing: border-box;
    overflow: hidden;

    background-color: #2c2c2c;
}

.message-form input,
.message-form textarea {
    flex: 1;
    min-width: 0;
    padding: 0.5rem;

    background-color: #2c2c2c;
    color: #e9edef;
    font-size: 1rem;

    border: none;
    outline: none;
}

.message-form button {
    padding: 0.5rem 1rem;

    background: #005c4b;
    color: white;

    border: none;
    border-radius: 0.5rem;

    cursor: pointer;
    font-weight: 500;

    transition: background 0.2s ease;
    flex-shrink: 0;
}

.message-form button:hover {
    background: #007a61;
}
